# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtualenv
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Secrets / env
.env
*.env
secrets/

# Local folder for non-committed files
local/

# Ignore compiled files
*.egg-info/
/dist/
/build/

# Node
node_modules/
npm-debug.log

# JetBrains
out/
